$secondary: rgb(221,221,221); //media
$light:rgb(244,244,244); //posts
$primary:rgb(255,235,223); //top
$info:rgb(255,196,160); //footer & category
$warning:rgb(254,164,68); //text
$dark:rgb(17,20,24);
$success:rgb(35,42,49);



@import "node_modules/bootstrap/scss/bootstrap";